<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="GettingReady" type="ConsoleApp.GettingReadyConfigurationSection, ConsoleApp"/>
	</configSections>

	<GettingReady>
		<commands>
			<command key="1" name="Footwear" type="GettingReady.Commands.Footwear, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
					<add name="Socks"/>
					<add name="Pants"/>
				</previousCommands>
			</command>
			<command key="2" name="Headwear" type="GettingReady.Commands.Headwear, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
					<add name="Shirt"/>
				</previousCommands>
			</command>
			<command key="3" name="Socks" type="GettingReady.Commands.Socks, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
				</previousCommands>
			</command>
			<command key="4" name="Shirt" type="GettingReady.Commands.Shirt, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
				</previousCommands>
			</command>
			<command key="5" name="Jacket" type="GettingReady.Commands.Jacket, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
					<add name="Shirt"/>
				</previousCommands>
			</command>
			<command key="6" name="Pants" type="GettingReady.Commands.Pants, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
				</previousCommands>
			</command>
			<command key="7" name="LeaveHome" type="GettingReady.Commands.LeaveHome, GettingReady.Commands">
				<previousCommands>
					<add name="RemovePJs"/>
					<add name="Shirt"/>
					<add name="Pants"/>
					<add name="Socks"/>
					<add name="Footwear"/>
					<add name="Headwear"/>
					<add name="Jacket"/>
				</previousCommands>
			</command>
			<command key="8" name="RemovePJs" type="GettingReady.Commands.RemovePJs, GettingReady.Commands">
				<previousCommands/>
			</command>
			<command key="9" name="ReturnMovie" type="Commands.Netflix.ReturnMovie, Commands.Netflix">
				<previousCommands>
					<add name="LeaveHome"/>
				</previousCommands>
			</command>
		</commands>
		<repositories default="ServiceStackRepository">
			<repository name="InMemoryRepository" type="GettingReady.Core.InMemoryRepository, GettingReady.Core" />
			<repository name="ServiceStackRepository" type="GettingReady.Core.ServiceStackRepository, GettingReady.Core" />
		</repositories>
	</GettingReady>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
